.hemorragia { border: 10px solid rgb(255, 0, 0); }

.hemorragia_img{width: 150px;height: 150px; border: 10px  solid rgb(255, 0, 0); }

.h_possivel { border: 10px solid rgb(235, 220, 17); }
.h_possivel_img{width: 150px;height: 150px; border: 10px solid  rgb(235, 220, 17); }



.saudavel { border: 10px solid rgba(34, 194, 34, 0.493); }
.saudavel_img{width: 150px;height: 150px; border: 10px  solid rgba(34, 194, 34, 0.493); }



.conteiner  {
    justify-content: center; align-content: center}

body {
    background-image: linear-gradient(to top, #575964 0%, #000000 100%);
    color: rgb(255, 255, 255);
    }
td{color: rgb(255, 255, 255);}
th{color: rgb(255, 255, 255);}
.conteiner{
    color: rgb(255, 255, 255);
}
